body {
  background-color: rgba(80, 15, 0, 0.59);
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  width: 90%;
  margin: 0 auto;
  /* grid-auto-flow: row;
  grid-auto-rows: minmax(100px, auto); */
}

.pokemon-container {
  height: auto;
  justify-self: center;
  border-style: outset;
  border-color: black;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(209, 190, 177);
  border-radius: 1rem;
  box-shadow: 1px 3px 10px;
}

.pokemon-img {
  width: 100%;
  height: auto;
}

.pokemon-name {
  font-weight: bold;
  color: rgb(230, 251, 0);
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(6, 6, 6, 0.467);
}

.stat-name {
  font-weight: bold;
  font-size: 1rem;
}

.stat-element {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
